html {
    background: linear-gradient(white, rgb(233, 252, 255));
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

#root {
    margin: auto;
    text-align: center;
}
